header{
    background-color: white;
    text-align: right;
    padding: .75rem 0;
    border-bottom: solid 1px dimgray;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

body{
    background-color: rgb(81, 127, 153);
    color: whitesmoke;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    height: 65vh;
    text-align: center;


}

header a{
    color: whitesmoke;
    background-color: rgb(81, 127, 153);
    border: solid 1px gray;
    border-radius: 3px;
    padding: .25rem .5rem;
    margin-right: .5rem;
    line-height: 1.5rem;
    text-decoration: none;
}

.container-one{
    margin: auto;
    width: 75%;
    border: dotted 3px whitesmoke;
    padding: .75rem .75rem;
}

.description{
    font-size: 25px;
}

.description-two{
    font-size: 20px;
}

#image-PT{
    width: 550px;
    height: 400px;
}
